<nav>
    <nav class="navbar">
        <div class="navbar-container">
          <a class="navbar-brand" href="#">
            Food Delivery App</a>
          <ul class="navbar-menu">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/user-viewmenu">view Menu</a></li>
            <li><a routerLink="/user-placeorder">Place Order</a></li>
            <li><a routerLink="/user-vieworder">view Order</a></li>
          </ul>
        </div>
      </nav>

      <div class="user-home-container "></div>
 
</nav>