<nav class="navbar">
    <div class="navbar-container">
      <a class="navbar-brand" href="#">
        Food Delivery</a>
      <ul class="navbar-menu">
        
        <li><a routerLink="/home">Welcomeuser logout</a></li>
      </ul>
    </div>
  </nav>
  
  <div class="form-container">
      <h2>Register</h2>
      <form (ngSubmit)="register()">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            [(ngModel)]="user.name"
            minlength="3"
            maxlength="20"
            pattern="[a-zA-Z ]+"
            required
            name="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="email"><i class="fa-solid fa-envelope"></i>Email:</label>
          <input
            type="email"
            id="email"
            [(ngModel)]="user.email"
            name="email"
            required
          />
        </div>
        <div class="form-group">
          <label for="password"><i class="fa-solid fa-lock"></i>Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="user.password"
            minlength="8"
            required
          />
        </div>
        <div class="form-group">
          <label for="mobileno"><i class="fa-solid fa-lock"></i>Mobile No:</label>
          <input
            type="tel"
            id="mobileno"
            name="mobileno"
            [(ngModel)]="user.mobileno"
            minlength="10"
            maxlength="10"
            pattern="[0-9]+"
            required
          />
        </div>
        <div class="form-group">
          <label for="address"><i class="fa-solid fa-lock"></i>Address:</label>
          <input
            type="text"
            id="address"
            name="address"
            [(ngModel)]="user.address"
            required
          />
        </div>
        
        <button type="submit" class="btn" [disabled]="!user.name || !user.email || !user.password || !user.mobileno || !user.address">Register</button>
      </form>
    </div>
  
